<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Entry</title>
</head>
<h3>Entry</h3>
{{#message}}
    {{message}}
{{/message}}
<br>
<form action="/login" method="post">
    <div><label> Name : <input type="text" name="username" placeholder="Ввеите имя"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Введите пароль"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sing in"/></div>
</form>
<br>
<h3>If you are not registered yet</h3>
<a href="/registration">Register oneself</a>
</body>
</html>