<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" class="buttonExit" value="Exit">
</form>

<h1 class="section-title">Welcome</h1>

<h1 class="section-title">Share your impressions of your travels!</h1>
<p style="text-align: center;"><img src="images/beach.jpg" alt="photo" title="recreation" width="600" height="340">
<img src="images/mountains.jpg" alt="photo" title="recreation" width="600" height="340">
<img src="images/paris.jpg" alt="photo" title="recreation" width="600" height="340">
<div>
    <form method="post">
        <label><textarea class="comment" type="text" name="text" placeholder="Ваш комментарий..."></textarea></label>
        <label><textarea class="country" type="text" name="country" placeholder="Страна путешествия"></textarea></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" class="button4" value="Post">
    </form>
</div>
<div><h2 class="section-title">List of comments</h2></div>
<form method="post" action="filter">
    <label><textarea class="country-search" type="text" name="filter" placeholder="Введите страну для поиска"></textarea></label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" class="button4" value="Find">
</form>

{{#comments}}
    <div>
        <b>*</b>
        <b><i>{{country}}</i></b>
        <b> : </b>
        <i>{{text}}</i>
        <hr>
    </div>
{{/comments}}
</body>
</html>