<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Welcome</div>
<a href="/main">Entry</a>
</body>
</html>